@import "common/reset";

a {
	opacity: 0;
}

.parallax {
	&--wrap {
		overflow: hidden;
		position: relative;
		width: 100%;
		height: 100vh;
		background-color: #768fc5;
	}
	&__item {
		position: absolute;
		width: 100%;
		height: 100%;
		box-shadow: 0 0 20px 2px rgba(0,0,0,0.85);
		&:nth-child(1) {
			background-color: #749697;
			top: 0;
			left: -49%;
			z-index: 1;
		}
		&:nth-child(2) {
			background-color: #75b7c5;
			top: -42%;
			left: 0;
			z-index: 2;
		}
		&:nth-child(3) {
			background-color: #5897c2;
			top: 73%;
			left: 48%;
			z-index: 2;
		}
		&:nth-child(4) {
			background-color: #5378d3;
			top: -67%;
			left: -38%;
			z-index: 3;
		}
		&:nth-child(5) {
			background-color: #7dc0b7;
			top: 79%;
			left: -43%;
			z-index: 3;
		}
		&:nth-child(6) {
			width: 35.68%;
			background-color: #7ea1cb;
			top: 94%;
			left: 35%;
			z-index: 4;
		}
		&:nth-child(7) {
			background-color: #118cb8;
			top: -90%;
			left: -77%;
			z-index: 4;
		}
		&:nth-child(8) {
			height: 62.71%;
			background-color: #4ec2c1;
			top: 23%;
			left: -61%;
			z-index: 4;
		}
		&:nth-child(9) {
			background-color: #4bbdc7;
			top: -21%;
			left: 65%;
			z-index: 4;
		}
		&:nth-child(10) {
			background-color: #489ccb;
			top: -57%;
			left: -67%;
			z-index: 5;
		}
		&:nth-child(11) {
			background-color: #7fbbdd;
			top: -49%;
			left: 85%;
			z-index: 5;
		}
		&:nth-child(12) {
			background-color: #56a5e0;
			top: 66%;
			left: 76%;
			z-index: 5;
		}
		&:nth-child(13) {
			background-color: #3f5d99;
			top: 34%;
			left: -83%;
			z-index: 6;
		}
		&:nth-child(14) {
			background-color: #4e99d0;
			top: -64%;
			left: 72%;
			z-index: 6;
		}
		&:nth-child(15) {
			background-color: #859ddd;
			top: 84%;
			left: 89%;
			z-index: 6;
		}
		&:nth-child(16) {
			background-color: #38dae5;
			top: 75%;
			left: -74%;
			z-index: 7;
		}
		&:nth-child(17) {
			background-color: #4a9eff;
			top: -90%;
			left: -78%;
			z-index: 7;
		}
		&:nth-child(18) {
			width: 36.56%;
			background-color: #7aa6c1;
			top: -82%;
			left: 40%;
			z-index: 7;
		}
		&:nth-child(19) {
			background-color: #718cdb;
			top:-77%;
			left: 86%;
			z-index: 7;
		}
	}
}